[aria-expanded="false"]+.dropdown__menu {
  display: none;
}

.dropdown,
.search {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  min-width: 15rem;
  border: 1px solid #ddd;
  margin-top: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

.dropdown__menu--divider {
  border-top: 1px solid #ddd;
  margin: .4rem 0;
}

.dropdown__menu a {
  display: block;
  padding: .3rem .8rem;
  color: #333;
  text-decoration: none;
}

.dropdown__menu a:hover {
  background-color: #f5f5f5;
}

body {
  width: 1440px;
  height: 1891px;
}


.navbar {
  background-color: #4a4a4a;
  color: white;
  display: -webkit-flex;
}

ul {
  display: -webkit-flex;
  list-style: none;

}

header li a {
  color: white;
  padding: 38px;


}

.intro {
  background-color: #efefef;

}

.intro__heading {
  width: 372px;
  height: 73px;
  font-family: HelveticaNeue;
  font-size: 62px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-left: 95px;
}

main {
  font-family: helvetica;
}

.intro__pgh {
  width: 833px;
  height: 95px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-left: 95px;
}

.intro__btn {
  width: 193px;
  height: 57px;
  border-radius: 8px;
  background-color: yellowgreen;
  color: white;
  margin-left: 95px;
}

.training {
  display: -webkit-flex;
  margin-left: 95px;
}

.training__art {
  width: 400px;
}

.training__heading a {
  color: blue;
}

.container__conv {
  background-color: #e8f6fc;
  display: -webkit-flex;
  width: 1440px;
  height: 557px;


}

.spot__video {
  margin-left: 300px;
  padding: 15px;
  margin-top: 98px;
  margin-bottom: 98px;

}

.spot__letter {
  margin-right: 100px;
  text-align: left;
  margin-top: 106px;

}

.spot__form-btn {
  width: 115px;
  height: 40px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  
}

.servs{
  text-align: center;
}

.servs p{
  width: 1000px;
  height: 95px;
  margin-left: 95px;
  text-align: center;
}

.servs__btn{
  width: 477px;
  height: 280px;
  border-radius: 8px;
  color: white;
  background-color: blue;
}


.foot__list a{
  padding: 38px;
  
}

.copi{
  text-align: right;
  margin-right: 20px;
}

.search button{
  background-color: gold;
  text-align: right;
}


